
.nav_container{
    background-color: honeydew;
    border: 1px solid honeydew;
    border-radius: rounded;
    display: flex;
    list-style: none;
    /* border-shadow: */
} 

nav ul li{
    margin-right: 20px;
    padding: 0 8px;   
}
nav ul li:hover{

    background-color: azure;

}
nav ul li a{

    text-decoration: none;

}